body{
    margin: 0;
}

header{
    background-color: rgba(255, 255, 255, 0.911);
    padding-right: 7%;
    padding-left: 7%;
}

ul{
    display: flex;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    
}

nav{
    font-size: 17px;
    text-decoration: none;
}
 nav a{
    text-decoration: none;
 }